body {
    background-color: lightsteelblue
}



img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
   
}

table {
    background-color: rgb(121, 159, 209)
}

button{
    background-color: rgb(17, 43, 43);
    color: white;
    border: 1px solid black;
    
    padding: 8px 15px;
    border-radius: 4px;

}

a{
    color:inherit;
}